<div>
  <tabset>

    <tab heading="Create Book">
      <form>
        <div class="form-group">
          <label for="name-input">Name:</label>
          <input type='text'class="form-control" name="name-input" [(ngModel)]="name"/>
        </div>
        <div class="form-group">
          <label for="author-input">Author:</label>
          <input type='text'class="form-control" name="author-input" [(ngModel)]="author"/>
        </div>
        <button (click)="createBook()">Create</button>
      </form>                    
    </tab>

    <tab heading="Search Books" (select)="books = []">
      <ng-template [ngIf]="!selectedBook" [ngIfElse]="bookInfo">
        <form>
          <div class="form-group">
            <label for="search-input">Search String:</label>
            <input type='text'class="form-control" name="search-input" [(ngModel)]="searchString"/>
          </div>
          <button (click)="search()">Get All</button>
          <button (click)="searchByName()">Search by name</button>
          <button (click)="searchByAuthor()">Search by author</button>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>AUTHOR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books" (click)="selectBook(book)">
              <td>{{book.id}}</td>
              <td>{{book.name}}</td>
              <td>{{book.author}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>

      <ng-template #bookInfo>
        <button (click)="selectedBook = null">To List</button>
        <p> ID: {{selectedBook.id}} </p> 
        <p> NAME: {{selectedBook.name}} </p>
        <p> AUTHOR: {{selectedBook.author}} </p>
        <h3>Already read:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>FIRSTNAME</th>
              <th>LASTNAME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of bookEmployees">
              <td>{{employee.id}}</td>
              <td>{{employee.firstname}}</td>
              <td>{{employee.lastname}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </tab>


    <tab heading="Create Employee">
      <form>
        <div class="form-group">
          <label for="first-name-input">First Name:</label>
          <input type='text'class="form-control" name="first-name-input" [(ngModel)]="firstname"/>
        </div>
        <div class="form-group">
          <label for="last-name-input">Last Name:</label>
          <input type='text'class="form-control" name="last-name-input" [(ngModel)]="lastname"/>
        </div>
        <button (click)="createEmployee()">Create</button>
      </form>                    
    </tab>

    <tab heading="Employees" (select)="search();loadEmployees()">
      
      <div *ngIf="selectedEmployee; else notSelectedTemplate" >
        <button (click)="selectedEmployee = null">To List</button>
        <p> ID: {{selectedEmployee.id}} </p> 
        <p> FIRSTNAME: {{selectedEmployee.firstname}} </p>
        <p> LASTNAME: {{selectedEmployee.lastname}} </p>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>AUTHOR</th>
              <th>READ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bookWrapper of employeeBooks">
              <td>{{bookWrapper.book.id}}</td>
              <td>{{bookWrapper.book.name}}</td>
              <td>{{bookWrapper.book.author}}</td>
              <td>
                <input 
                  type="checkbox" 
                  [(ngModel)]="bookWrapper.selected" 
                  (change)="selectEBook(bookWrapper)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      
      <ng-template #notSelectedTemplate>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>FIRSTNAME</th>
              <th>LASTNAME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees" (click)="selectEmployee(employee)">
              <td>{{employee.id}}</td>
              <td>{{employee.firstname}}</td>
              <td>{{employee.lastname}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>

    </tab>

  </tabset>

</div>
